<launch>

    <arg name="face" default="false"/>
    <arg name="microphone" default="true"/>
    <arg name="rviz" default="false"/>
    <arg name="speaker" default="12"/>
    <arg name="speaker_channels" default="2"/>

    <!-- drive system -->
    <include file="$(find br-hardware-interface)/launch/roscontrol_hw_interface.launch"/>
    <include file="$(find br-control)/launch/br_control.launch">
        <arg name="rviz" value="$(arg rviz)"/>
    </include>

    <include file="$(find br-control)/launch/br_teleop.launch"/>

    <!-- sensors and perception -->

    <node pkg="bno055" type="bno055_ros.py" name="imu_node" respawn="true" respawn_delay="5">
	<param name="load_calibration" value="true"/>
    </node>

    <node pkg="power_ina219" type="ina219_node" name="power_node" respawn="true" respawn_delay="5"/>

    <!-- localization ekf and nav sat stuff -->
    <include file="$(find br-localization)/launch/br_localization.launch">
        <arg name="simulation_mode" value="false"/>
    </include>
</launch>
