<launch>

    <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
        <param name="local_xy_frame" value="/odom"/>
        <param name="local_xy_origin" value="swri"/>
        <rosparam param="local_xy_origins">
            [{ name: swri,
            latitude: 38.5853618,
            longitude: -121.3594389,
            altitude: 233.719,
            heading: 0.0},

            { name: back_40,
            latitude: 38.58537,
            longitude: -121.35944,
            altitude: 200.0,
            heading: 0.0}]
        </rosparam>
     </node>

    <node pkg="tf" type="static_transform_publisher" name="swri_transform" args="0 0 0 0 0 0 /odom /origin 100"  />

    <node pkg="mapviz" type="mapviz" name="mapviz"/>

</launch>
