<launch>

    <arg name="rviz" default="true"/>
    <arg name="joy_axis" default="4"/>
    <arg name="joy_button" default="2"/>
    <arg name="robot" default="br-v2-head.xacro"/>
    <arg name="use_head" default="true"/>

    <!-- Load robot description -->
    <include file="$(find br-description)/launch/br_description.launch">
        <arg name="robot" value="$(arg robot)"/>
    </include>


    <!-- Load controller configuration -->
    <rosparam command="load" file="$(find br-control)/config/br_control.yaml" />

    <!-- Spawn controllers -->
    <node if="$(arg use_head)" name="base_controller_spawner" pkg="controller_manager" type="spawner"
          args="joint_state_controller mobile_base_controller head_position_controller"/>

    <node unless="$(arg use_head)" name="base_controller_spawner" pkg="controller_manager" type="spawner"
          args="joint_state_controller mobile_base_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
        <param name="use_tf_static" value="false"/>
    </node>

    <node pkg="twist_mux" type="twist_mux" name="twist_mux">
        <param name="pub_status_continuously" value="true"/>
        <rosparam command="load" file="$(find br-control)/config/br_twist_mux.yaml" />
        <remap from="cmd_vel_out" to="mobile_base_controller/cmd_vel"/>
        <remap from="out_status" to="mobile_base_controller/cmd_vel_status"/>
    </node>

    <node if="$(arg use_head)" pkg="br-control" type="head_cmd_mux.py" name="head_cmd_mux">
        <param name="joy_axis" value="$(arg joy_axis)"/>
        <param name="joy_button" value="$(arg joy_button)"/>
        <param name="joy_multiplier" value="-0.5"/>
        <param name="timeout" value="0.5"/>

        <remap from="joy" to="/joy/joy"/>
        <remap from="input1" to="behavior/head_cmd"/>
        <remap from="input2" to="misc/head_cmd"/>
        <remap from="input3" to="nav/head_cmd"/>
    </node>

    <!-- visualize robot using rviz -->
    <node if="$(arg rviz)" name="rviz" type="rviz" pkg="rviz" args="-d $(find br-control)/rviz/br_viz.rviz" />

</launch>
