<launch>

    <group ns="joy">

<!--        <rosparam command="load" file="$(find br-control)/config/br_teleop_ps4.yaml" />-->

        <rosparam command="load" file="$(find br-control)/config/br_teleop.yaml" />

        <node pkg="joy" type="joy_node" name="joy_node" />

        <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>
    </group>

</launch>