<launch>

    <arg name="data_root_dir" default="/media/jetson-nano/jetsoncar/gbdata"/>
    <arg name="dataset_name" default="03-15-20"/>
    <arg name="multicam" default="true"/>
    <arg name="data_collection_rate" default="5"/>
    <node name="data_collector" type="data_collector.py" pkg="br-perception" output="screen">
        <param name="data_root_dir" value="$(arg data_root_dir)"/>
        <param name="dataset_name" value="$(arg dataset_name)"/>
        <param name="multicam" value="$(arg multicam)"/>
        <param name="data_collection_rate" value="$(arg data_collection_rate)"/>
    </node>

    <include if="$(arg multicam)" file="$(find br-perception)/launch/multicam.launch"/>

</launch>
