<launch>
    <!-- http://docs.ros.org/melodic/api/robot_localization/html/integrating_gps.html -->
    <!-- https://github.com/mikkelkh/FieldSAFE/blob/master/ros/src/demo/launch/robot_localization.launch -->

    <arg name="simulation_mode" default="false"/>

    <!-- 1) navsat_transform_node is used to produce odometry from GPS coordinates (only x,y,z position) -->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" respawn="false">
        <param name="frequency" value="10"/>
        <param name="delay" value="5"/>

        <param name="yaw_offset" value="0.0" unless="$(arg simulation_mode)"/>
        <param name="yaw_offset" value="1.57079632679" if="$(arg simulation_mode)"/>

        <param name="magnetic_declination_radians" value="0.23358317338" unless="$(arg simulation_mode)"/>
        <param name="magnetic_declination_radians" value="0.0" if="$(arg simulation_mode)"/>

        <param name="zero_altitude" value="true"/>
        <param name="broadcast_utm_transform" value="true"/>
        <param name="publish_filtered_gps" value="true"/>
        <param name="use_odometry_yaw" value="false"/>
        <param name="wait_for_datum" value="false"/>
        <param name="world_frame" value="odom"/>
        <!-- Input -->
        <remap from="/gps/fix" to="/gps"/>
        <remap from="/imu/data" to="/imu/data"/>
        <remap from="/odometry/filtered" to="/odometry/filtered"/>
        <!-- Output -->
        <remap from="/odometry/gps" to="/odometry/gps"/>
        <remap from="/gps/filtered" to="/gps/filtered/utm"/>
    </node>

    <!-- 2) robot_localization provides a global map by fusing all sensors (IMU + wheel encoders + GPS position and heading) -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
        <rosparam command="load" file="$(find br-control)/config/br_localization.yaml" />
    </node>

</launch>
